*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../src/butter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar start */
nav{
    background-color: rgba(138, 99, 99, 0.699);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div01{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#div01>a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 10px;
}

#div01>a:hover{
    color: rgb(28, 3, 248);
    font-size: large;
    font-weight: bolder;
    transition: .5s;
}

#image>img{
    padding: 10px 0;
    margin-left: -80px;
    height: 60px;
    width: 150px;
}

#button>a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

#button>a:hover{
    color: rgb(70, 3, 252);
    font-size: larger;
    font-weight: bolder;
    transition: .5s;
}

/* navbar end */
/* content section start */

#div02{
    /* margin-top: 80px; */
    background-color:rgba(129, 136, 143, 0.096);
    height: 100vh;
}

#hello{
    color: blueviolet; 
    font-family:cursive;font-size: 2rem;
}

#p1{
    color: rgb(247, 243, 247); 
    padding: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#h3_01{
    text-align: center; 
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(7, 7, 7);
}

#h3_01:hover{
    font-size: 2rem;
    transition: 0.8s;
}




/* footer section */

#footer{
    height: 100px;
    background-color: rgba(138, 99, 99, 0.699);
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 0;
}

.fa-brands{
    color: white;
    padding: 5px 0;
}